/* css for nav bar */
.customNav {
    width: 100%;
    background: url("../images/transparency.png");
    background-color: #0b464f !important;
  }
  /* css for change in text color  */
  .customNav a {
    color: white !important;
  }
  /* css for the list item to align right */
  .navbar-nav {
    margin-left: auto;
    margin-right: 0 !important;
  }
  /* css for name */
  .navbar-brand{
    background-color: rgb(71, 194, 194);
    font-size:xx-large;
  }
  /* css for small image beside my name */
  .navbar-brand img {
    width: 50px;
  }
  /* this is for space between the list items */
  .nav-item {
    margin: 0px 15px;
  }
  /* Jumbotron  */
.rockBackground {
    background-image: url(https://images.unsplash.com/photo-1531315630201-bb15abeb1653?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1935&q=80);
    background-size: cover;
    height: calc(20vh - 25px);
    display: flex;
    position: relative;
  }
  
  /* Jumbotron copy */
  .jumboCopy {
    display: flex;
    min-width: 500px;
    position: absolute;
    bottom: 0;
    left: 1150px;
  }
  /* This is css for the image*/
  .image{
    height: 100px;
    display: flex;
    width: 230px;
    padding-left: 30px;
  }
  /* this is for styling About me */
  .col-2 h3{
    text-align: right;
    padding-top: 35px;
    font-size: xx-large;
    font-weight: bolder;
  }
  /* this is for text alignment */
  .col-7 p{
    text-align: justify;
    width: 970px;
  }
 /* css for work */
.col p{
  padding-top: 35px;
  font-size: larger;
  font-weight: bolder;
}
/* for vertical line */
.vr{
  padding: 2px;
}
/* css for image 1 */
.img1{
  width: 1200px;
  height: 300px;
  margin-left: 30px;
  margin-bottom: 25px;
}
/* css for image 2 */
.img2{
  width: 590px;
  height: 200px;
  margin-left: 42px;
  margin-bottom: 25px;
}
/* css for image3 */
.img3{
  width: 590px;
  height: 200px;
  margin-left: 12px;
  margin-bottom: 25px;
}

/*Adds hover effect to images */
.hvr:hover{
  opacity: 0.5;
  cursor: pointer;
}
/* for removing padding for column grid*/
.col-6{
  padding: 0px;
}
/* for alining footer elements horizontal */
.footer li{
  list-style-type: none;
  display: inline-block;
  padding: 0px 40px;
  padding-top: -140px;;
}
/* This is to remove underline for footer elements */
a{
  text-decoration: none;
}
.footer {
  margin-top: -35px;
}


